{% extends "base_template_3.html" %}

{% block title %}
Customers
{% endblock %}



{% block content %}



<div class="content-wrapper">
    <div class="page-header">
        <lable class="display-4">Page {{ page }} of total {{ pages }}</lable>
    </div>

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card mx-auto">
            <div class="card-body ">
            
            <div class="table-responsive">
            
                    <form class="nav-link mt-10 mt-md-20 d-none d-lg-flex search" method="get">
                        <input type="text" class="form-control text-primary" placeholder="Search customer" value="{{ q }}" name="q" autocomplete="off">
                        <input class="nav-link btn btn-primary" type=submit value="Search">
               
            </div>
            </div>
        </div>
    </div>
    
        
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="table-responsive">
            <table class="table">
                <thead>

                    <tr>
                        
                        <td>
                            <h4 class="display-5">Name</h4>
                            
                            <a href="/customers?sortColumn=namn&sortOrder=asc&q={{ q }}"><i class='mdi mdi-arrow-up text-muted'></i></a>
                            <a href="/customers?sortColumn=namn&sortOrder=desc&q={{ q }}"><i class='mdi mdi-arrow-down text-muted'></i></a>

    
                        </td>



                        <td>
                            <h4 class="display-5">City</h4>
                            
                            <a href="/customers?sortColumn=city&sortOrder=asc&q={{ q }}"><i class='mdi mdi-arrow-up text-muted'></i></a>
                            <a href="/customers?sortColumn=city&sortOrder=desc&q={{ q }}"><i class='mdi mdi-arrow-down text-muted'></i></a>

    
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {%  for p in listOfCustomers  %}
                    <tr>
                        <td>{{ p.GivenName }}, {{p.Surname }}</td>            
                        <td>{{ p.City }}</td>
                        <td>
                            <a href="/customer/{{ p.Id }}" class="btn btn-rounded btn-primary btn-sm py-1 px-4 float-right">Visit</a>
                        </td>
                    </tr>{%endfor%}
                    <tr>
                        <td>
                            {% if has_prev %}
                            <a class="btn btn-rounded btn-secondary py-1 px-4 btn-sm" href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                            Previous
                            </a>
                            {% endif %}
                        </td>
                        <td></td>
                        <td>
                            {% if has_next %}
                            <a class="btn btn-rounded btn-secondary btn-sm py-1 px-4 float-right" href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                                Next
                            </a>
                            {% endif %}
                        </td>
                    </tr>


                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
   
</div>

{% endblock %}
