{% extends "base_template_3.html" %}


{% block title %}
Customer {{customer.Surname}}, {{customer.GivenName }}
{% endblock %}

{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='template/assets/vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='template/assets/vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/popup_css.css')}}">
    <link rel="stylesheet" href="path-to/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='/template/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/template/assets/images/favicon.png')}}">
  </head>
<div class="content-wrapper">
    
    
    <div class="col-lg-12 grid-margin stretch-card">
        
    
        <div class="card">
            
            <div class="card-body">
                <lable class="display-4 p-2">{{customer.Surname}}, {{customer.GivenName}}</lable>
                
                
                {% with messages = get_flashed_messages() %}
                {%if messages%}
                {% for message in messages %}
            
                <span class="badge pill bg-success p-1">
                    {{message}}
                </span>

                
                {%endfor%}
                {%endif%}
                {%endwith%}
                <div class="table-responsive p-2">
                
                    <table class="table">
                        <thead>
                            
                        <tr>


                            <th>Balance</th>
                            <th>Account ID</th>
                            <th>Account Type</th>

                        </tr>
                        </thead>
                        
                        <tbody>
                            {%  for account in accounts  %}
                        
                            <tr>

                                <td>{{account.Balance}}</td>
                                <td>{{account.Id}}</td>
                                <td>{{account.AccountType}}</td>
                                <td>
                                    <a href="/account/{{customer.Id}}/{{ account.Id }}" class="btn btn-rounded btn-primary py-1 px-2 btn-sm">Open</a>
                                </td>
                                <td>
                                    <a href="/deposit/{{account.Id}}" class="btn btn-rounded btn-success py-1 px-2 btn-sm">Deposit</a>
                                </td>
                                <td>
                                    <a href="/withdraw/{{ account.Id }}" class="btn btn-rounded btn-warning btn-sm py-1 px-2">Withdrawal</a>
                                </td>
                                <td>
                                    <a href="/internal/{{ customer.Id }}/{{ account.Id }}" class="btn btn-rounded btn-info btn-sm py-1 px-2">Internal Transfer</a>
                                </td>
                                <td>
                                    <a href="/external/{{ account.Id }}" class="btn btn-rounded btn-info btn-sm py-1 px-2">External Transfer</a>
                                </td>
                            </tr>

                            {%endfor%}
                                             
                        </tbody>
                        
                    </table>
                    <lable class="display-5 p-2 text-muted">Total: {{total}} SEK</lable>
                    
                </div>

            </div>
        </div>
          
    </div>

    



    <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table">
                        <tbody>
                            <tr>
                                <td>User ID: </td>
                                <td>
                                    {{customer.Id}}
                                    {%if customer.Active == True%}
                                    <div class="float-right">
                                        <icon class="mdi mdi-check-circle-outline text-success"><lable class="display-6 text-success">  Active </lable></icon>
                                    </div>
                                    {%endif%}
                                    {%if customer.Active == False%}
                                    <div class="float-right">
                                        <icon class="mdi mdi-alert-circle-outline text-danger"><lable class="display-6 text-danger">  Not Active </lable></icon>
                                    </div>
                                    {%endif%}
                                </td>
                            </tr>
                            <tr>
                            <td>Name: </td>
                            <td>{{customer.GivenName}} {{customer.Surname}}</td>
                            </tr>
                            <tr>
                                <td>Street Address: </td>
                                <td>{{customer.Streetaddress}}</td>
                            </tr>
                            <tr>
                                <td>City: </td>
                                <td>{{customer.City}}</td>
                            </tr>
                            <tr>
                                <td>Zipcode: </td>
                                <td>{{customer.Zipcode}}</td>
                            </tr>
                            <tr>
                                <td>Country: </td>
                                <td>{{customer.Country}}</td>
                            </tr>
                            <tr>
                                <td>Country Code: </td>
                                <td>{{customer.CountryCode}}</td>
                            </tr>
                            <tr>
                                <td>Telephone: </td>
                                <td>{{customer.Telephone}}</td>
                            </tr>
                            <tr>
                                <td>Birthday: </td>
                                <td>{{customer.Birthday}}</td>
                            </tr>
                            <tr>
                                <td>National ID: </td>
                                <td>{{customer.NationalId}}</td>
                            </tr>
                            <tr>
                                <td>Telephone Country Code: </td>
                                <td>{{customer.TelephoneCountryCode}}</td>
                            </tr>
                            <tr>
                                <td>E-mail Address: </td>
                                <td>{{customer.EmailAddress}}</td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <a href="/customers" class="btn btn-rounded btn-primary btn-sm py-1 px-4">Back</a>
                                </td>
                                <td>

                                </td>
                            </tr>


                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
    
        <div class="card align-items-center">
            
            <div class="card-body">

                
                <div class="table-responsive">
                    <a href="/manage/{{customer.Id}}" class="btn btn-primary btn-lg">Manage Customer Information</a>
                    
              
                    {%if customer.Active == True%}
                    <a href="/active/{{customer.Id}}?deactivate=true" class="btn btn-danger btn-lg">Deactivate Customer</a>
                    {%endif%}
                    {%if customer.Active == False%}
                    <a href="/active/{{customer.Id}}?deactivate=false" class="btn btn-success btn-lg">Activate Customer</a>
                    {%endif%}

                </div>
                
            </div>
            
        </div>
    </div> 



    
</div>
{% endblock %}
{%block scripts%}
<script src="/static/javascript/checkbox.js"></script>
<script src="static/template/assets/js/off-canvas.js"></script>
<script src="static/template/assets/js/hoverable-collapse.js"></script>
<script src="static/template/assets/js/misc.js"></script>
<script src="static/template/assets/js/settings.js"></script>
<script src="static/template/assets/js/todolist.js"></script>
<script src="static/template/assets/js/chart.js "></script>
<script src="path-to/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/Users/Adam/Documents/WEB_PROGRAMMERING/Koder/bank_system/static/javascript/charter.js"></script>
<script src="/static/javascript/popup_javascript.js"></script>
{%endblock%}

    