{% extends "base_template_3.html" %}

{% block title %}
Account no: {{id}}
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
    
    <div class="card">
        
        <div class="card-body">
            <div class="table-responsive">
                <lable class="display-4">Account no. {{id}}</lable><a href="/customer/{{ customer }}" class="btn btn-rounded btn-primary btn-sm float-right">Back</a>
            </div>
            <div class="table-responsive py-4 px-2">
                <table class="table" id="posts-table">
                    <thead>
                        <tr></tr>
                        <tr>
                            <td>Transaction ID</td>
                            <td>Type</td>
                            <td>Operation</td>
                            <td>Date</td>
                            <td>Amount</td>
                            <td>New Balance</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card align-items-center">
        
        <div class="card-body">
  
            
            <div class="table-responsive">
                <a class="btn btn-rounded btn-primary btn-md py-1 px-4"  type ="submit" href="javascript:fetchMore()">10 more</a>
            </div>
        </div>
    </div>
    
    
  </div>

<script>
    pageNo = 1;
    function fetchMore() {
        fetch("/api/{{id}}?page=" + pageNo)
            .then((response) => response.json())
            .then((json) => {
                    pageNo = pageNo + 1;
                    json.forEach(tableElements);
                }
            );
    }

    function tableElements(element) {
            document.querySelector('#posts-table  tbody').innerHTML +=
                `<tr>
        <td>${element.Id}</td>
        <td>${element.Type}</td>
        <td>${element.Operation}</td>
        <td>${element.Date}</td>
        <td>${element.Amount}</td>
        <td>${element.NewBalance}</td>
    </tr>`;
        }
        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });

</script>
{% endblock %}    

