{% extends "base_template_3.html" %}

{% block title %}

{% endblock %}



{% block content %}
    
<h6>Visar sidan {{ page }} av totalt {{ pages }}</h6>

<nav class="navbar p-0 fixed-top d-flex flex-row">
    
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" method="get">
                <input type="text" class="form-control" placeholder="Search customer" value="{{ q }}" name="q">
                <input class="nav-link btn btn-success create-new-button" type=submit value="Sök">
            </form>
        </li>
      </ul>
  

    </div>
  </nav>

 

<table class="table">
    <thead>
        <th>
            Namn
            <a href="/customers?sortColumn=namn&sortOrder=asc&q={{ q }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="/customers?sortColumn=namn&sortOrder=desc&q={{ q }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>
        <th>
                City
                <a href="/customers?sortColumn=city&sortOrder=asc&q={{ q }}">
                    <i class='bx bx-up-arrow-alt'></i>
                </a>
                <a href="/customers?sortColumn=city&sortOrder=desc&q={{ q }}">
                    <i class='bx bx-down-arrow-alt'></i>
                </a>
            </th>
        <th></th>

    </thead>
    <tbody>
        {%  for p in listOfCustomers  %}
        <tr>
            <td>{{ p.GivenName }}, {{p.Surname }}</td>            
            <td>{{ p.City }}</td>        
            <td>
                <a href="/customer/{{ p.Id }}" class="btn">Se mer</a>
            </td>
                    
        </tr>
        <tr></tr>
        {%  endfor  %}
        </tbody>
        <tfoot>
            <tr>
                  <td>
                    {% if has_prev %}
                    <a class="btn" href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                        <h4>Prev</h4>
                    </a>
                    {% endif %}
                  </td>
                  <td></td>
                  <td>
                    {% if has_next %}
                    <a class="btn" href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                        <h4>Next</h4>
                    </a>
                    {% endif %}
                  </td>
            </tr>
        </tfoot>

</table>

{% endblock %}    