{% extends "base_template_3.html" %}
{% block title %}
Customers
{% endblock %}



{% block content %}


<div class="content-wrapper">
    <div class="page-header">
        <h6>Page {{ page }} of total {{ pages }}</h6>
    </div>

    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card mx-auto">
            <div class="card-body">
            
            <div class="table-responsive">
            
                    <form class="nav-link mt-10 mt-md-20 d-none d-lg-flex search" method="get">
                        <input type="text" class="form-control text-primary" placeholder="Search customer" value="{{ q }}" name="q" autocomplete="off">
                        <input class="nav-link btn btn-primary" type=submit value="Search">
               
            </div>
            </div>
        </div>
    </div>
    
        
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="table-responsive">
            <table class="table">
                <thead>

                    <tr>
                        <td>
                            <h4>Name</h4>
                            <a href="/customers?sortColumn=namn&sortOrder=asc&q={{ q }}">
                                <span class="text-muted"><i class='mdi mdi-arrow-up-bold'></i></span>
                            </a>
                            <a href="/customers?sortColumn=namn&sortOrder=desc&q={{ q }}">
                                <span class="text-muted"><i class='mdi mdi-arrow-down-bold'></i></span>
                            </a>
                        </td>
                        <td>
                            <h4>City</h4>
                            <a href="/customers?sortColumn=city&sortOrder=asc&q={{ q }}">
                                <span class="text-muted"><i class='mdi mdi-arrow-up-bold'></i></span>
                            </a>
                            <a href="/customers?sortColumn=city&sortOrder=desc&q={{ q }}">
                                <span class="text-muted"><i class='mdi mdi-arrow-down-bold'></i></span>
                            </a>
    
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {%  for p in listOfCustomers  %}
                    <tr>
                        <td>{{ p.GivenName }}, {{p.Surname }}</td>            
                        <td>{{ p.City }}</td>
                        <td>
                            <a href="/customer/{{ p.Id }}" class="btn btn-rounded btn-primary btn-sm">Visit</a>
                        </td>
                    </tr>{%endfor%}
                    <tr>
                        <td>
                            {% if has_prev %}
                            <a class="btn btn-rounded btn-secondary btn-sm" href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                            Previous
                            </a>
                            {% endif %}
                        </td>
                        <td></td>
                        <td>
                            {% if has_next %}
                            <a class="btn btn-rounded btn-secondary btn-sm" href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                                Next
                            </a>
                            {% endif %}
                        </td>

                    </tr>


                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
   
</div>

{% endblock %}
