{% from "_form_helpers.html" import render_field %}
{% extends "base_template_3.html"%}


{% block content %}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="list-wrapper">
        <h4 class="card-title">Report an issue</h4>
        <p class="card-description"> Fill the form </p>
        
        <form class="forms-sample" method="post">
          {{ form.csrf_token }}
          
          <label class="form-check text-muted">Name</label>
          <div class="form-check form-check-primary">
            
            {{ render_field(form.name, autocomplete="off") }}
          </div>  
          <label class="form-check text-muted">Email</label>
          <div class="form-check form-check-primary">
            
            {{ render_field(form.email, autocomplete="off") }}
          </div>  

          <label class="form-check text-muted">User ID</label>
          <div class="form-check form-check-primary">
            
            {{ render_field(form.userid) }}
          </div>

          <label class="form-check text-muted">Please describe the issue</label>
          <div class="form-check form-check-primary">
            
            {{ render_field(form.textfield, rows=5,cols=50, autocomplete="off") }}
          </div>

          
          <label class="form-check text-danger">P1 - High Priority</label>
          <div class="form-check form-check-primary">
            {{ render_field(form.p1, class="checkbox checkoption")  }}
          </div>

          <label class="form-check text-warning">P2 - Medium Priority</label>
          <div class="form-check form-check-primary">
            {{ render_field(form.p2, class="checkoption checkbox")}}
          </div>

          <label class="form-check text-primary">P3 - Low Priority</label>
          <div class="form-check form-check-primary">
            {{ render_field(form.p3, class="checkoption checkbox", checked=True) }}
          </div>
        
        
          
        <div class="form-check form-check-primary">
          <button type="submit" class="btn btn-rounded btn-primary btn-md">Submit</button>
        </div>
        </form>

        
      </div>
    </div>
  </div>
</div>

<script src="/static/javascript/defaultCheckbox.js"></script>
<script src="/static/javascript/checkbox.js"></script>

{% endblock %}

