{% extends "base_template_3.html" %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Total customers</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{total_customers}}</h2>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <img src="../static/template/assets/images/index_images/img_customers.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Total accounts</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{total_accounts}}</h2>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <img src="../static/template/assets/images/index_images/img_accounts.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Total balance</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">{{total_balance}}</h2>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <img src="../static/template/assets/images/index_images/img_transactions.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/template/assets/images/carousel/banner_1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/template/assets/images/carousel/banner_2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/template/assets/images/carousel/banner_3.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
  







{% endblock %}    