{% from "_form_helpers.html" import render_field %}
{% extends "base_template_3.html"%}


{% block content %}



<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="list-wrapper">
        <h4 class="card-title">WITHDRAWAL</h4>

        
        <form class="forms-sample" method="post">
          {{ new_withdrawal.csrf_token }}
          
          <label class="form-check text-muted">Amount</label>
          <div class="form-check form-check-primary">
            
            {{ render_field(new_withdrawal.withdrawal, autocomplete="off") }}
          </div>  
          

          <label class="form-check text-danger">Confirm the amount is correct</label>
          <div class="form-check form-check-primary">
            {{ render_field(new_withdrawal.confirmation, class="checkbox")  }}
          </div>

          
        
        
          
        <div class="form-check form-check-primary">
          <button type="submit" class="btn btn-rounded btn-warning btn-md">Make Withdrawal</button>
        </div>
        </form>

        
      </div>
    </div>
  </div>
</div>

<script src="/static/javascript/defaultCheckbox.js"></script>
<script src="/static/javascript/checkbox.js"></script>

{% endblock %}

