{% extends "base_template_3.html" %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}



<div class="row w-100 m-0">
  <div class="content-wrapper full-page-wrapper  align-items-center auth login-bg mh-100">
    <div class="row">

      <div class="col-sm-6 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <div class="col-2 col-sm-4 col-xl-4 px-2 ">
                  <table class="">
                    <tr>
                      <label class="display-4 p-2">USA</label>
                    </tr>
                    <tr>
                    
                      <td class="px-2 text-primary display-6">Customers</td>
                      <td class="px-2 text-primary display-6">Accounts</td>
                      <td class="px-2 text-primary display-6">Balance</td>
                   
                    </tr>
                    <tr>
                      <td class="px-2 py-2 text-secondary display-4">{{US_count}}</td>
                      <td class="px-2 py-2 text-secondary display-4">46378</td>
                      <td class="px-2 py-2 text-secondary display-4">432004050</td>
                    </tr>
                    <tr>
                      <tr>
                        <td>
                          <a href="/top_10?country=USA" class="btn btn-rounded btn-primary btn-sm py-1 px-3">Info</a>
                        </td>
                      </tr>
                  </table>
                  </div>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right px-2">
                <img class="px-2" height="70px" src="/static/template/assets/images/flags/us.svg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <div class="col-2 col-sm-4 col-xl-4 px-2 ">
                  <table class="">
                    <tr>
                      <label class="display-4 p-2">Sweden</label>
                    </tr>
                    <tr>
                    
                      <td class="px-2 text-primary display-6">Customers</td>
                      <td class="px-2 text-primary display-6">Accounts</td>
                      <td class="px-2 text-primary display-6">Balance</td>
                   
                    </tr>
                    <tr>
                      <td class="px-2 py-2 text-secondary display-4">{{SE_count}}</td>
                      <td class="px-2 py-2 text-secondary display-4">46378</td>
                      <td class="px-2 py-2 text-secondary display-4">432004050</td>
                    </tr>
                    <tr>
                      <tr>
                        <td>
                          <a href="/customer" class="btn btn-rounded btn-primary btn-sm py-1 px-3">Info</a>
                        </td>
                      </tr>
                  </table>
                  </div>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right px-2">
                <img class="px-2" height="70px" src="/static/template/assets/images/flags/se.svg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <div class="col-2 col-sm-4 col-xl-4 px-2 ">
                  <table class="">
                    <tr>
                      <label class="display-4 p-2">Finland</label>
                    </tr>
                    <tr>
                    
                      <td class="px-2 text-primary display-6">Customers</td>
                      <td class="px-2 text-primary display-6">Accounts</td>
                      <td class="px-2 text-primary display-6">Balance</td>
                   
                    </tr>
                    <tr>
                      <td class="px-2 py-2 text-secondary display-4">{{FI_count}}</td>
                      <td class="px-2 py-2 text-secondary display-4">46378</td>
                      <td class="px-2 py-2 text-secondary display-4">432004050</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="/customer" class="btn btn-rounded btn-primary btn-sm py-1 px-3">Info</a>
                      </td>
                    </tr>
                    <tr>
                  </table>
                  </div>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right px-2">
                <img class="px-2" height="70px" src="/static/template/assets/images/flags/fi.svg">
              </div>
            </div>
          </div>
        </div>
      </div>










      <div class="col-sm-6 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <div class="col-2 col-sm-4 col-xl-4 px-2 ">
                  <table class="">
                    <tr>
                      <label class="display-4 p-2">Norway</label>
                    </tr>
                    <tr>
                    
                      <td class="px-2 text-primary display-6">Customers</td>
                      <td class="px-2 text-primary display-6">Accounts</td>
                      <td class="px-2 text-primary display-6">Balance</td>
                   
                    </tr>
                    <tr>
                      <td class="px-2 py-2 text-secondary display-4">{{NO_count}}</td>
                      <td class="px-2 py-2 text-secondary display-4">46378</td>
                      <td class="px-2 py-2 text-secondary display-4">432004050</td>
                    </tr>
                    <tr>
                      <tr>
                        <td>
                          <a href="/customer" class="btn btn-rounded btn-primary btn-sm py-1 px-3">Info</a>
                        </td>
                      </tr>
                  </table>
                  </div>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right px-2">
                <img class="px-2" height="70px" src="/static/template/assets/images/flags/no.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


  



{% endblock %}    