<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="card">
        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <h4 class="card-title">Bar chart</h4>
          <canvas id="barChart" style="height: 376px; display: block; width: 752px;" width="1504" height="752" class="chartjs-render-monitor"></canvas>
        </div>
      </div>





    <script href="/static/javascript/charter.js"></script>
</body>
</html>